[submodule "LandingPage-ArtGaby,"]
	path = LandingPage-ArtGaby,
	url = https://github.com/2305ray/LandingPage-ArtGaby.git
[submodule "Fundamentos-Java-Script"]
	path = Fundamentos-Java-Script
	url = https://github.com/2305ray/LandingPage-ArtGaby.git
