[submodule "LandingPage-ArtGaby,"]
	path = LandingPage-ArtGaby,
	url = https://github.com/2305ray/LandingPage-ArtGaby.git
[submodule "Fundamentos-JavaScript"]
	path = Fundamentos-JavaScript
	url = https://github.com/2305ray/Fundamentos-JavaScript.git
[submodule "Calculator-Challenge"]
	path = Calculator-Challenge
	url = https://github.com/2305ray/Calculadora.git
